<div class="bootstrap-wrapper">
    <div class="container" >

        <div class="row " >
                <div class="
                text-center">
                 <h1>Welcome to the Online ExamPortal</h1>
                </div>
                <br/><br/><br/>
                <div class="container text-center">
                   <a   [routerLink]="'/signup'"> <button type="submit" mat-raised-button color="primary">Register</button></a>
                    
                </div>

        </div>
    </div>
</div>